# Environment: local or production
ENV=local

# Dashboard Configuration
DASHBOARD_HOST=traefik.local.barlito.fr

# Authentik
AUTHENTIK_SECRET_KEY=  # Generate with: openssl rand -base64 36
AUTHENTIK_DB_PASSWORD= # Generate with: openssl rand -base64 24

# Let's Encrypt Configuration (production only)
ACME_EMAIL=
