version: "3.3"

services:

  traefik:
    image: traefik:3.0
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: udp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./traefik-dynamic.yml:/etc/traefik/traefik-dynamic.yml
      - ./certs:/etc/certs:ro
      - traefik-data:/etc/traefik
    deploy:
      labels:
        - traefik.enable=true

        - traefik.http.routers.dashboard.rule=Host(`traefik.local.barlito.fr`)
        - traefik.http.routers.dashboard.service=api@internal
        - traefik.http.services.dummy-svc.loadbalancer.server.port=9999

        - traefik.http.routers.traefik-secure.rule=Host(`traefik.local.barlito.fr`)
        - traefik.http.routers.traefik-secure.service=api@internal
        - traefik.http.routers.traefik-secure.entrypoints=https
        - traefik.http.routers.traefik-secure.tls=true
    networks:
      - traefik_proxy

volumes:
      traefik-data:

networks:
  traefik_proxy:
    driver: overlay
    attachable: true

